<h1> Welcome to your Zookeeper Account </h1>

<%= @user.username %><br>
 Role: <%= @user.role %><br>
 Experience in years: <%= @user.experience_lvl %><br>
 Email: <%= @user.email %><br>
 Section name: <%= @user.section.name %><br>
 Section environment: <%= @user.section.environment %><br>
 <br>
<br>
 <%= link_to "Create a report for the animals you work with",  new_report_path(@user) %>
 <br> 
 <br>
 <%= link_to "See reports submitted by all users", reports_path %>
 <br>
 <%= link_to "Search reports by name of species", animals_path %>
<br>
 <%= link_to "Log out", logout_path, method: :delete %>

 <h2>All my reports </h2>

 <table>
  <thead>
    <tr>
      
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
<% @user.reports.each do |report| %>

<%= render partial: 'reports/reports', locals: {user: @user, report: report} %>
 
<%= link_to 'Edit Post', edit_user_report_path(@user, report) %>
<br>
<%= link_to 'Destroy Post', [@user, report], method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>
</tbody>
</table>
