<h1> Welcome to your Zookeeper Account </h1>

<%= @user.username %><br>
 Role: <%= @user.role %><br>
 Experience in years: <%= @user.experience_lvl %><br>
 Email: <%= @user.email %><br>
 Section name: <%= @user.section.name %><br>
 Section environment: <%= @user.section.environment %><br>
 <br>
<br>
 <%= link_to "Create a report for the animals you work with",  new_report_path(@user) %>
 <br> 
 <br>
 <%= link_to "See reports submitted by all users", reports_path %>
 <br>
 <%= link_to "Search reports by name of species", animals_path %>
<br>
 <%= link_to "Log out", logout_path, method: :delete %>

 <h2>All my reports </h2>

 <%= render partial: 'reports/reports', locals: {user: @user, reports: @user.reports} %>