<% if @section.user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@section.user.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
 
    <ul>
    <% @section.user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: section do |section_form| %>
    Name: <%= section_form.collection_select(:user_id, Section.all, :id, :name) %>
    Environment: <%= section_form.collection_select(:user_id, Section.all, :id, :environment) %>
    <% fields_for :user, section.user do |user_form| %>
      Username: <%= user_form.text_field :username %>
      Email: <%= user_form.email_field :email %>
      Password: <%= user_form.password_field :password %>
      Password Confirmation: <%= user_form.password_field :password_confirmation %>
      Role: <%= user_form.text_field :role %>
      Experience Level(number of years): <%= user_form.number_field :experience_lvl %>
      <% end %>

      <%= section_form.submit %>
      <% end %>


