<h1>'Welcome to the Natural Environment for Animals in Zoos WorkStudy.'</h1>






<h2> 'If you are a current zoo caregiver, please login.' </h2>

<% if current_user %>
  <h1><%= @user.name %></h1>
  <h2>Email: <%= @user.email %></h2>
  <h2> UID: <%= @user.uid %></h2>
  <img src="<%= @user.image %>">
<% else %>
<%= button_to "Sign in with Google", "/auth/google_oauth2" %>
<%= link_to "Create an Account", new_user_path %>
  
<% end %>


