<h1>'Welcome to the Natural Environment for Animals in Zoos WorkStudy.'</h1>






<h2> 'If you are a current zoo caregiver, please login.' </h2>

<% if session[:user_id] %>
  <h1><%= @user.name %></h1>
  <h2>Email: <%= @user.email %></h2>
  <h2>Facebook UID: <%= @user.uid %></h2>
  <img src="<%= @user.image %>">
<% else %>
     <%= link_to('Sign up on our website.', new_user_path) %>
  <%= link_to('Log in with Facebook.', '/auth/facebook') %>
<% end %>


