

<%= form_with(model: [@animal, report], local: true) do |report_form| %>

  <% if @report.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@report.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
 
    <ul>
    <% @report.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

    Topic: <%= report_form.text_field :topic %>
    Observations: <%= report_form.text_area :observations %>
    
    <% if !@animal %>
    Animal Name: <%= report_form.collection_select(:animal_id, Animal.all, :id, :name) %>
    <% end %>
      <%= report_form.submit %>
      <% end %>