<table>
  <thead>
    <tr>
      
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% reports.each do |report| %>
      <tr>
        <td><%= report.user.username %></td>
        <td><%= report.animal.name %></td>
        <td><%= report.topic %></td>
        <td><%= report.observations %></td>
        
        <td><%= link_to 'Edit Post', edit_user_report_path(user, report) %></td>
        <td><%= link_to 'Destroy Post', [user, report], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>