<p id="notice"><%= notice %></p>

<h1>Reports on <%= @animal.name %></h1>
<br>

<br>
<table>
  <thead>
    <tr>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>

<%= render partial: 'reports', locals: {report: report} %>
 <% end %>
  </tbody>
</table>



  <%= link_to 'Back to User Account', [@user] %>
  <br>
 
       
  </tr>
</table>

<br>

<%= link_to 'New Report', new_animal_report_path(@user) %>