<p id="notice"><%= notice %></p>

<h1>All Reports</h1>
<br>
<%= form_tag(reports_path, method: "get") do %>
    <%= label_tag(:query, "Search for:") %>
    <%= text_field_tag(:query) %>
    <%= submit_tag("Search") %>
  <% end %>
<br>
<table>
  <thead>
    <tr>
      
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.user.username %></td>
        <td><%= report.animal.name %></td>
        <td><%= report.topic %></td>
        <td><%= report.observations %></td>
        </tr>
        <% end %>

  </tbody>
  <tr>
  <td><%= link_to 'Back to User Account', [@user] %></td>
       
  </tr>
</table>

<br>

<%= link_to 'New Report', new_user_report_path(@user) %>